[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/flymake-python-pyflakes"]
	path = site-lisp/flymake-python-pyflakes
	url = https://github.com/purcell/flymake-python-pyflakes.git
